<html>

<body style="width:100%; float:left; background:rgb(127, 251, 200); font-family:arial;">

    <div class="main" style="width:900px; margin:0px auto">

        <div style="">
            <img src="<?php echo Yii::app()->request->baseUrl;?>/assets/images/1463638947-logo.png" style="margin:30px 40%" 0px;/>
        </div>
        <h1 style="text-align:center; margin-top:0px;">Thanks for the Registration</h1>
        <p style="text-align:center">This is just sample content. You can add your content when you create a campaign using this template. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <table width="600" border="1|0" cellspacing="0" cellpadding="10px" style="margin:0 auto;" borderColor="WHITE">
            <tr>
                <th  style="text-align:left">Information</th>
                <th  style="text-align:left">Detail</th>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    Sambit Jain
                </td>
            </tr>
             <tr>
                <td>
                   Contact Detail:
                </td>
                <td>
                    +91-8076555000
                </td>
            </tr>
        </table>
        </h4>
         <h4 style="margin:5px 0px">- Warm Regards</h4>
        
        <h4 style="margin:5px 0px">Bhukkas Team</h4>
        <h4 style="margin:5px 0px">B3, B4 Khushal complex, 31,32,33 Ghafur kha ki Bajuriya, near Shubhash Chowk, Rajwada, Indore</h4>
        <h4 style="margin:5px 0px">9300068101</h4>
    </div>
</body>

</html>